---
import "../styles/global.css";
import Navigation from "../components/navigation.astro";
import Footer from '../components/Footer.astro';

const pageTitle = "About";
const identity = {
  firstName: "Alice",
  location: "Massachusetts",
  occupation: "Student",
  hobbies: [
    "thinking out loud",
    "thinking in silence",
    "thinking about thinking",
  ],
};
const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const finished = false;
const lastUpdated = "11-26-2025"
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{pageTitle}</title>
  <!-- <style define:vars={{titleColor}}>
        h1 {
            color: var(--titleColor);
            font-size: 4rem;
        }
    </style> -->
</head>

<Navigation />
<h1>{pageTitle}</h1>

<h2>... and what you can find here!</h2>

<p>Here are a few facts about me:</p>
<ul>
  <li>My name is {identity.firstName}.</li>
  <li>
    I live in {identity.location} and I work as a {identity.occupation}.
  </li>
  {
    identity.hobbies.length >= 2 && (
      <li>
        Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
      </li>
    )
  }
</ul>
<p>My skills are:</p>
<ul>
  {skills.map((skill) => <li>{skill}</li>)}
</ul>
{
  finished ? (
    <p>This site is finished.</p>
  ) : (
    <p>This site is a work in progress.</p>
  )
}
<p>This site was last updated on {lastUpdated}.</p>
<Footer />
